{% extends "base.html" %}

{% load tailwind_filters %}



{% block content %}
<body style="background-color:#111827">
    <h1 style="text-align:center; text-transform:uppercase;color:white;">Login</h1>
    <form id="form" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button  class="flex mt-3 w-15% text-center text-white bg-pink-500 border-0 py-2 px-6 focus:out:bg-piline-none hovernk-600 rounded mb-5" type="submit">Submit</button>
    </form>
</body>
    
{% endblock content %}